
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
#shape{
    font-family: "League Script", cursive;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
.primary-Button{
    background-color: #E6533C;
    padding: 15px 30px;
    color: white;
    border-radius: 34px;
    font-weight: 800;
    font-size: 14px 30px;
    border-style: none;
}
.secondary-Button{
    background-color: transparent;
    padding: 15px 30px;
    color: white;
    border-radius: 34px;
    font-weight: 800;
    font-size: 14px 30px;
    border: 1px solid white;
}
.display-flex{
    display: flex;
}
.margin-div{
    margin: 40px 0;
}
/* <<<<<<Nav Bar styles>>>>>>> */
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
nav .logo{
    color: #E6533C;
    font-weight: 900;
    font-size: 34px;
}
nav ul{
    list-style-type: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
}
nav ul li{
    padding: 4px 12px;
    border-radius: 34px;
}
#active{
    background-color: #E6533C;
}
.hide-icon{
    display: none;
}
/* <<<<<<<Banner Styles>>>>>> */
.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.banner-text-container h1{
    font-size: 60px;
    font-weight: 900;
    width: 500px;
}
.banner-text-container p{
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    color: #FFFFFF80;
}
.banner-text-container{
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.banner-image-container{
    display: flex;
    justify-content: end;
    
}
.button-container{
    gap: 20px;
}
.banner-img-div img{
    height: 500px;
}
.banner-img-div{
    width: max-content;
    position: relative;
}
.floating-card{
    position: absolute;
    background-color: #3030308A;
    backdrop-filter: blur(5px);
    width: 190px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.floating-card .circle{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 10px
}
.floating-card.top{
    top: 22%;
    right: -30%;
}
.floating-card.bottom{
    bottom: 14%;
    left: -36%;
}
.floating-card h5{
    font-size: 34px;
    font-weight: 900;
}
.floating-card p{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFFA6;
}

/* <<<<<<Mobile View>>>>>> */
@media screen and (max-width: 425px){
    .hide-icon{
    display: inline;
    }
    nav ul{
    display: none;
    }
    nav{
        padding: 4px 20px;
    }
    .banner-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .banner-image-container{
        justify-content: center;
    }
    
}