
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
  }
body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
#shape{
    font-family: "League Script", cursive;
}
.container{
    margin: 0 auto;
    padding: 10px;
}
.color1{
    color: white;
}
.color2{
    color: #FFFFFF80;
}
.primary-Button{
    background-color: #E6533C;
    padding: 15px 30px;
    color: white;
    border-radius: 34px;
    font-weight: 800;
    font-size: 14px 30px;
    border-style: none;
}
.secondary-Button{
    background-color: transparent;
    padding: 15px 30px;
    color: white;
    border-radius: 34px;
    font-weight: 800;
    font-size: 14px 30px;
    border: 1px solid white;
}
.display-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.margin-div{
    margin: 40px 0;
}
/* <<<<<<Nav Bar styles>>>>>>> */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav .logo{
    color: #E6533C;
    font-weight: 900;
    font-size: 34px;
}
nav ul{
    list-style-type: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    margin-right: 20px;
}
nav ul li{
    padding: 4px 12px;
    border-radius: 34px;
}
#active{
    background-color: #E6533C;
}
.hide-icon{
    display: none;
}
/* <<<<<<<Banner Styles>>>>>> */
/* .main-div-container{
    margin: 20px 30px;
} */
.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.banner-text-container h1{
    font-size: 60px;
    font-weight: 900;
    width: 500px;
}
.banner-text-container p{
    font-size: 16px;
    font-weight: 400;
    
    color: #FFFFFF80;
}
.banner-text-container{
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.banner-image-container{
    display: flex;
    justify-content: end;
    padding: 10px;
}
.button-container{
    gap: 20px;
}

.banner-img-div img{
    height: 500px;    
}
.banner-img-div{
    width: max-content;
    position: relative;
    margin-right: 70px;
}
.floating-card{
    position: absolute;
    background-color: #3030308A;
    backdrop-filter: blur(5px);
    width: 190px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.floating-card .circle{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 10px
}
.floating-card.top{
    top: 22%;
    right: -25%;
}
.floating-card.bottom{
    bottom: 14%;
    left: -36%;
}
.floating-card h5{
    font-size: 34px;
    font-weight: 900;
}
.floating-card p{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFFA6;
}
/* <<<<<<<habit styles>>>>>> */
.habit-section{
margin-bottom: 40px;
}
.habit-text-container{
    text-align: center;
    margin-bottom: 40px;
}
.habit-text-container h2{
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 20px;
}
.habit-text-container p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.habit-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.habit-image-div img{
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 22%;
  border: 2px solid gray;
}
.habit-image-div h3{
    font-weight: 600px;
    font-size: 18px;
}
.habit-image-div p{
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}
/* <<<<<Run Extra Section>>>>> */
.run-extra-main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 60px 100px;
}
.img-width{
    width: 366px;
    height: 312px;
    object-fit:cover;
    overflow: hidden;
    
}
.run-extra-bg{
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
}
.extra-image-container img{
    border-radius: 30px;
    
}
.extra-text-container{
    width: 440px;
}
.extra-text-container h1{
    font-weight: 900;
    font-size: 44px;
    margin-bottom: 10px;
}
.extra-text-container p{ 
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.run-extra-section{
margin-bottom: 40px;
}
/* <<<<<<Training & Exercise styles>>>>> */
.training-text-container h2{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.training-text-container p{ 
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.training-text-container{
    padding-bottom: 30px;
}
.training-img-container{
    margin-bottom: 40px;
}
.first-row{
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr;
}
.second-row{
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card{
    position: relative;
    height: 250px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    padding: 20px;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.overlay-1{
    background: #06FFD280;
    color: white;
    justify-content: end;
}
.overlay-2{
    background: #FF00004D;
    color: white;
    justify-content: start;
}
.overlay-3{
    background: #00000080;
    color: white;
    justify-content: end;
}
.overlay-4{
    background: #00000080;
    color: white;
    justify-content: right;
}
.overlay-5{
    background: #42FF004D;
    color: white;
    justify-content: end;
}
.overlay-6{
    background: #0047FF4D;
    color: white;
    justify-content: end;
}
/* <<<<BMI calculator styles>>>>  */
.bmi-calc-container{
    margin-top: 10px;
    margin-bottom: 40px;
}
.bmi-text-content h3{
    font-size: 40px;
    margin-bottom: 10px;
}
.bmi-text-content{
    margin-bottom: 40px ;
}
.bmi-text-content p{
    font-size: 14px;
    width: 800px;
    word-break: wrap;
    
}
.bmi-container{
    background: #222222;
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    gap: 20px;
    padding: 50px 130px;
}
/* <<<<Chart Div>>>>> */
.chart-div h3{
    font-size: 28px;
    margin-bottom: 45px;
}
.chart-div table{
    border: 1px solid #FFFFFF1A;
    padding: 20px;
    border-collapse: collapse;
}
.chart-div table th{
    font-size: 18px;
}

.chart-div table th, .chart-div table td{
    text-align: left;
    border: 1px solid #FFFFFF1A;
    padding: 10px 20px;
}
.chart-div table td{
    font-size: 14px;
    font-weight: 500;
}
.td{
    font-size: 16px;
    color: #FFFFFF80;
    font-weight: 400;
}
/* <<<<Calc Div>>>>> */
.calc-div h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.calc-div p{
    font-size: 14px;
    margin-bottom: 30px;
}
.calc form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
#span-2{
    grid-column: span 2;
}
input, select{
    background-color:#ffffff1c ;
    padding: 12px 15px;
    border: none;
    color: #ffffff59;
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
}
.option-1{
    background-color:#635454b4;
}

/* <<<<<<Mobile View>>>>>> */
@media screen and (max-width: 576px){
   html, body {
  overflow-x: hidden;
}
    .hide-icon{
    display: inline;
    }
    .hidden-ul{
    display: none;
    }
    nav{
        padding: 4px 20px;
        justify-content: space-between;
        
    }
    /* <<<<<banner section>>>>> */
    .main-div-container{
        margin: 10px;
    }
    .banner-container{
        grid-template-columns: 1fr;
        gap: 20px;
        
    }
    #banner-caption{
        text-align: left;
        word-wrap: break-word;
        width: 300px;
    }
    .banner-image-container{
        justify-content: center;
    }
    .banner-text-container h1{
        width: 300px;
        font-size: 30px;
        font-weight: 600;
    }
    .banner-text-container p{
        font-size: 12px;
        font-weight: 400;
        color: #FFFFFF80;
    }
    .banner-img-div{
        margin-left: 20px;
    }

    .floating-card.top{
        top: 12%;
        right: 1%;
    }
    .floating-card.bottom{
        bottom: 40%;
        left: -10%;
    }
    .floating-card h5{
        font-size: 20px;
        font-weight: 900;
    }
    .floating-card p{
        font-size: 10px;
    }
    .floating-card{
        width: 140px;
        padding: 10px 10px;
    }
    .floating-card .circle{
        width: 20px;
        height: 20px;
    }
   
    /* <<<<habit section>>>>> */
    
    .habit-text-container h2{
        font-size: 30px;
        font-weight: 500;
    }
    .habit-text-container p{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    .habit-image-container{
        flex-direction: column;
    }
    .habit-image-div img{
        margin-left: 28%;
      }
    .habit-image-div h3{
        font-size: 16px;
    }
    .habit-image-div p{
        font-size: 14px;
        margin-top: 10px;
        font-weight: 300;
    }
    
    /* <<<<<Run Extra Section>>>>> */
.run-extra-main-div{
    flex-direction: column;
}
.extra-text-container{
    padding: 10px 60px
}
.extra-text-container h1{
    font-size: 34px;
}
.extra-text-container p{ 
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.img-width{
    width: 350px;
    height: 200px;
    padding: 10px;
}
.join-now-btn{
    display: flex;
    justify-content: center;
}
.full-width{
    width: 80%;
}
/* <<<<Training & Exercise Section>>>>> */
.training-text-container h2{
    font-size: 30px;
}
.training-text-container p{ 
    font-size: 12px;
}
.first-row{
    grid-template-columns: 1fr 1fr;
}
.second-row{
    grid-template-columns: 0.9fr 1.1fr;
}
.first-row .f-third{
    display: none;
}
.second-row .s-third{
    display: none;
}
.card img{
    height: 200px;
}
.card{
    height: 200px;
}
.overlay{
    height: 200px;
    font-size: 12px;
}
/* <<<<calculator>>>>> */
.bmi-container{
    grid-template-columns: 1fr;
    padding: 20px 80px;
}
.bmi-calc-container{
    margin-top: 10px;
    margin-bottom: 20px;
}
.bmi-text-content h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.bmi-text-content{
    margin-bottom: 20px ;
}
.bmi-text-content p{
    font-size: 12px;
    width: 400px;
    word-break: wrap;
}
/* <<<<Chart Div>>>>> */
.chart-div h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.calc-div h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.calc-div p{
    font-size: 12px;
    margin-bottom: 20px;
}
.calc-btn{
    width: 200px;
}

}